@use '../base/mixins'as m;
@use '../base/variables'as v;

// BG-color body
body {
    background-color: v.$lightGrayish;
}

.container {
    
    section {
        width: 100%;
        height: 30vh;
        background-image: url(/images/bg-mobile-dark.jpg);
        background-size: cover;
        @include m.tablet {
            background-image: url(/images/bg-desktop-dark.jpg);
        }
    }
    
    .form-todo,
    .todo-container,
    .filters {
        width: 90%;
        margin: auto;
    }

    .todo-container,
    .filters,
    .footer {
        transform: translateY(-8rem);
    }

    .header, .form-todo, .todo-container, .filters {
    
        @include m.tablet {
            max-width: 60rem;
        }
    }
}

// header styles
.header {

    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2.5rem;

    @include m.telefono {
        padding-top: 4rem;
    }
    @include m.tablet {
        margin: 0 auto;
        padding: 4rem 0 0 0;
        
    }

    .h1-title,
    .btn { 
        padding-top: 5rem;
    }

    .light-mode-boton {
        display: none;
    }
    


    .h1-title {
        font-size: 3.5rem;
        text-transform: uppercase;
        letter-spacing: 1rem;
        color: v.$lightGray;
    }

    .btn { 
        @include m.clean_button;
    }

}

// form styles
.form-todo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .todo-ipt, .circle, .icon-add-list {
        background-color: v.$lightGray;
        transform: translateY(-11rem);
    }

    .circle {
            display: inline-block;
            width: 2.5rem;
            height: 2.5rem;
            border: .2rem solid v.$light_grayishBlue;
            border-radius: 50%;
            position: absolute;
            z-index: 10;
            left: 1.7rem;
            background-color: v.$colorCheckBG;
            
    }

    .todo-ipt {
        padding: 2rem;
        height: 5rem;
        outline: none;
        border: none;
        width: 100%;
        padding-left: 6rem;
        border-radius: .6rem;
        color: v.$very_darkGrayish;
        font-weight: 700;

    }
    .icon-add-list {
        font-size: 3rem;
        position: absolute;
        z-index: 10;
        right: 1.7rem;
        color: v.$very_darkGrayish;
        border: none;
        cursor: pointer;
        display: none;
    }
}

// todo-list styles
.todo-container {
    background-color: v.$lightGray;
    border-radius: .6rem;
    

    .list-todo {
        margin: 0 auto;

        .element {
            padding: 2rem;
            color: v.$dark_grayishBlue;
            border-bottom: .1rem solid v.$light_grayishBlue;
            font-size: 1.4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            @include m.desktop {
                &:hover {
                    .img_cross {
                        display: block;
                    }
                }
            }
            
            .first-element {
                display: flex;
                justify-content: center;
                align-items: center;

                .list {
                    // color: v.$light_grayishBlue;
                    
                    @include m.tablet {
                        font-weight: 700;
                    }

                }
            }

            .circle {
                display: inline-block;
                width: 2.5rem;
                height: 2.5rem;
                border: .1rem solid v.$light_grayishBlue;
                border-radius: 50%;
                margin-right: 1.5rem;
                transition: .5s;
                cursor: pointer;

            }

            .first-element .active {
                background-image: url('/images/icon-check.svg'), v.$colorCheckBG;
                background-repeat: no-repeat;
                background-position: center;
            }

            .img_cross {
                cursor: pointer;
                @include m.desktop {
                    display: none;
                }
            }
        }
    }


    .items-clear {
        display: flex;
        justify-content: space-between;
        font-weight: 0 !important;
    }

    .item-count-left,
    .clear-completed {
        display: inline-block;
        padding: 2rem;
        color: v.$dark_grayishBlue;
    }

}


// Filters styles

.filters {
    // background-color: v.$dark_desaturatedBlue;
    background-color: v.$lightGray;
    padding: 2rem;
    text-align: center;
    margin-top: 1rem !important;
    border-radius: .6rem;

    span {
        color: v.$dark_grayishBlue;
        margin: 0 2rem;
    }
}

footer {
    margin-top: 5rem;
    text-align: center;

    p {
        color: v.$dark_grayishBlue;
    }
}