@use '../base/mixins' as m;
@use '../base/variables' as v;

// BG-color body
body {
    background-color: v.$darkBlue;
}

.container {
    
    .form-todo, .todo-container, .filters {
        width: 90%;
        margin: auto;
    }
}

// header styles
.header {
    // mobile first
    background-image: url(/images/bg-mobile-dark.jpg);
    background-size: cover;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2.5rem;
    .h1-title, .btn {
        padding-top: 5rem;
    }

    .h1-title {
        font-size: 3.5rem;
        text-transform: uppercase;
        letter-spacing: 1rem;
        color: v.$lightGray;
    }
     .btn {
        @include m.clean_button;
    }
    
}

// form styles
.form-todo {
    

    .circle {    
        width: 3rem;
        height: 3rem;
        background-color: red;
        border-radius: 50%;

    }

    .todo-ipt{
        padding: 2rem;
        outline: none;
        border: none;
        background-color: v.$dark_desaturatedBlue;
        width: 100%;
        border-radius: .6rem;
        transform: translateY(-11rem);
    }
}

// todo-list styles
.todo-container {
    background-color: v.$dark_desaturatedBlue;
    border-radius: .6rem;

    .list-todo {
        margin: 0 auto;
        .element {
            padding: 2rem;
            color: v.$lightGray;
            border-bottom: .1rem solid v.$very_dark_grayishBlue;
            font-size: 1.4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .circle {
                display: inline-block;
                width: 2.5rem;
                height: 2.5rem;
                border: .2rem solid v.$very_dark_grayishBlue; 
                border-radius: 50%;
            }
        }
    }

    .items-clear {
        display: flex;
        justify-content: space-between;
    }

    .item-left, .clear-completed {
        display: inline-block;
        padding: 2rem;
        color: v.$dark_grayishBlue;
    }
    
}


// Filters styles

.filters {
    background-color: v.$dark_desaturatedBlue;
    padding: 2rem;
    text-align: center;
    margin-top: 1rem !important;
    border-radius: .6rem;

    span {
       color: v.$dark_grayishBlue;
        margin: 0 2rem;
        font-weight: 700;
    }
}

footer {
    margin-top: 5rem;
    text-align: center;
    p {
        color: v.$dark_grayishBlue;
    }
}